## SQL实战 | nowcoder 91题总结
### 第三部分 SQL:41-60题

　　ID：wlong
　　数据分析爱好者、目前小白一枚
　　邮箱：wlong826@163.com
　　和鲸社区：[【wlong】](https://www.heywhale.com/home/user/profile/5f0a61d72be199002c073935)
　　如果有不完善的地方，欢迎小伙伴评论区留言！
　　最近博客、和鲸每周都会有所更新，欢迎大家关注点赞分享哦！
 
 ----
 
 　　这里呢，建议SQL不熟练的小伙伴先去**nowcoder网**上刷一遍，遇到不会的时候再过来看**答案**，总共**80道题**左右，但nowcoder网上有些题目存在**断层不连续**，序号写到了91题，所以这里主要也是以官网的序号为准。刷题链接见这[【数据库SQL实战】](https://www.nowcoder.com/ta/sql) (★★★)

　牛客网SQL刷题链接：[【数据库SQL实战】](https://www.nowcoder.com/ta/sql) (★★★)

　如果对爬虫感兴趣的小伙伴，看这看这👉：[【零基础入门Python爬虫--豆瓣、58同城、安居客等】](https://www.heywhale.com/mw/project/60be1fa8acdcb3001707b133)

　关于Pandas数据处理的一些小总结，看这看这👉：[【Pandas数据处理120题知识点总结】](https://www.heywhale.com/mw/project/60c0b06919d601001898394c)

　经典数分案例泰坦尼克号的生存分析，看这看这👉：[【经典案例之泰坦尼克号乘客生存情况预测分析 】](https://www.heywhale.com/mw/project/60d18448056f570017c149dc)
 
 　关于Hive SQL的一点小小总结，看这看这👉：[【《Hive 编程指南》的小小总结】](https://www.heywhale.com/mw/project/60f00c93be5f0900176366a6)

　如果小伙伴对于Python实现数据结构感兴趣，可以看这👉：[【线性表】](https://www.heywhale.com/mw/project/60e7b58cbe5f09001761ac87)、[【栈和队列】](https://www.heywhale.com/mw/project/60ebe5de3f2448001705ccc2)

### 41. 构造一个触发器audit_log

　　构造一个触发器audit_log，在向employees_test表中插入一条数据的时候，触发插入相关的数据到audit中；

In [ ]:
create trigger audit_log
after insert on employees_test
for each row
begin
	insert into audit values(new.id, new.name);
end;

在MySQL中，创建触发器语法如下：
　　CREATE TRIGGER trigger_name
　　trigger_time trigger_event ON tbl_name
　　FOR EACH ROW
　　trigger_stmt

其中：
　　trigger_name：标识触发器名称，用户自行指定；
　　trigger_time：标识触发时机，取值为 BEFORE 或 AFTER；
　　trigger_event：标识触发事件，取值为 INSERT、UPDATE 或 DELETE；
　　tbl_name：标识建立触发器的表名，即在哪张表上建立触发器；
　　trigger_stmt：触发器程序体，可以是一句SQL语句，或者用 BEGIN 和 END 包含的多条语句，每条语句结束要分号结尾。

【NEW 与 OLD 详解】
　　MySQL 中定义了 NEW 和 OLD，用来表示触发器的所在表中，触发了触发器的那一行数据。
	
具体地：
　　在 INSERT 型触发器中，NEW 用来表示将要（BEFORE）或已经（AFTER）插入的新数据；
　　在 UPDATE 型触发器中，OLD 用来表示将要或已经被修改的原数据，NEW 用来表示将要或已经修改为的新数据；
　　在 DELETE 型触发器中，OLD 用来表示将要或已经被删除的原数据；
　　使用方法： NEW.columnName （columnName 为相应数据表某一列名）

### 42. 删除emp_no重复的记录，只保留最小的id对应的记录

In [2]:
delete from titles_test
where id not in(
					select * 
					from (
							select min(id)
							from titles_test
							group by emp_no
						) a
				);

### 43. 将所有to_date为9999-01-01的全部更新为NULL,且 from_date更新为2001-01-01

In [ ]:
update titles_test set to_date = null, from_date = '2001-01-01' where to_date = '9999-01-01';

### 44. id=5以及emp_no=10001的行数据替换成id=5以及emp_no=10005,其他数据保持不变

In [ ]:
# 使用replace实现，直接使用update会报错
update titles_test 
set emp_no = replace(emp_no, 10001, 10005)
where id = 5;

### 45. 将titles_test表名修改为titles_2017

In [ ]:
alter table titles_test rename as titles_2017;

### 46. 在audit表上创建外键约束，其emp_no对应employees_test表的主键id

In [3]:
alter table audit
add constraint foreign key (emp_no)
references employees_test(id);

创建外键语句结构：
　　ALTER TABLE <表名>
　　ADD CONSTRAINT FOREIGN KEY (<列名>)
　　REFERENCES <关联表>(关联列)

### 48. 将所有获取奖金的员工当前的薪水增加10%

　　请你写出更新语句，将所有获取奖金的员工当前的(salaries.to_date='9999-01-01')薪水增加10%。(emp_bonus里面的emp_no都是当前获奖的所有员工)；

In [ ]:
# 方法一：子查询
update salaries s
set s.salary = s.salary * 1.1
where s.to_date = '9999-01-01'
and s.emp_no in (
					select emp_no
					from emp_bonus
				);

In [ ]:
# 方法二：连接查询
update salaries as s 
join emp_bonus as e
on s.emp_no = e.emp_no
set salary = salary*1.1
where to_date = '9999-01-01';

### 50. 将employees表中的所有员工的last_name和first_name通过(')连接起来

In [ ]:
select concat(last_name, "'", first_name) name
from employees;

### 51. 查找字符串'10,A,B' 中逗号','出现的次数cnt

In [ ]:
select length('10,A,B') - length(replace('10,A,B', ',', '')) cnt;

### 52. 获取employees中的first_name

　　查询按照first_name最后两个字母，按照升序进行排列；

In [ ]:
select first_name
from employees
order by right(first_name,2); # 或者substr(first_name, -2)

### 53. 按照dept_no进行汇总

　　按照dept_no进行汇总，属于同一个部门的emp_no按照逗号进行连接，结果给出dept_no以及连接出的结果employees；

In [ ]:
select
dept_no
,group_concat(emp_no) employees
from dept_emp
group by dept_no;

### 54. 查找排除最大、最小salary之后的当前员工的平均工资avg_salary

　　当前：to_date = '9999-01-01'；

In [ ]:
select (sum(salary)-max(salary)-min(salary))/(count(salary)-2) avg_salary
from salaries
where to_date = '9999-01-01';

### 55. 分页查询employees表，每5行一页，返回第2页的数据

In [ ]:
select *
from employees
limit 5,5;

### 57. 使用含有关键字exists查找未分配具体部门的员工的所有信息

In [ ]:
select * 
from employees e
where not exists (
					select emp_no 
					from dept_emp d_e
					where e.emp_no = d_e.emp_no
				 );

In [ ]:
# 不使用exists
select *
from employees
where emp_no not in (select emp_no from dept_emp);

### 59. 获取有奖金的员工相关信息(★★★★)

　　给出emp_no、first_name、last_name、奖金类型btype、对应的当前薪水情况salary以及奖金金额bonus。 bonus类型btype为1其奖金为薪水salary的10%，btype为2其奖金为薪水的20%，其他类型均为薪水的30%。 当前薪水表示to_date='9999-01-01'；

In [ ]:
select
e.emp_no
,first_name
,last_name
,btype
,salary
,case btype when 1 then 0.1*salary
when 2 then 0.2*salary 
else 0.3*salary end bonus
from employees e
join emp_bonus e_b
on e.emp_no = e_b.emp_no
join salaries s
on e.emp_no = s.emp_no
where s.to_date = '9999-01-01';

### 60. 统计salary的累计和running_total(★★★★)

　　按照salary的累计和running_total，其中running_total为前N个当前( to_date = '9999-01-01')员工的salary累计和，其他以此类推。 具体结果如下Demo展示；

In [ ]:
select
emp_no
,salary
,sum(salary) over(order by emp_no) running_total
from salaries
where to_date = '9999-01-01';